<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>ShowPet 상세보기</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rammetto+One%3A400"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A700"/>
  <link rel="stylesheet" th:href="@{/css/header.css}"/>
  <link rel="stylesheet" th:href="@{/css/modal.css}"/>
  <style>
    body {
      width: 1440px;
      height: 900px;
      margin: 50px auto 0;
      background-color: #ffffff; /* 배경색은 원하는 색상으로 설정하세요 */
      font-family: 'Poppins', sans-serif;
    }

    .centered-content {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    table {
      border-collapse: collapse;
      width: 100%;

    }

    th, td {
      border: 1px solid #594e4e;
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #594e4e;
    }

    td input[type='text'],
    td textarea {
      width: 400px;
    }

    .button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    .button:hover {
      opacity: 0.8;
    }

    .square-box img {
      width: 400px;
      height: 400px;
    }

  </style>
</head>
<body>
<!--헤더 부분-->
<div class="header-container">
  <a class="logo-link" href="/post/list"><p class="showpet-logo">ShowPet</p></a>
  <form action="/post/list" method='get'>
    <div class="search-container">
      <input type='search' id="search" name='search' class="search" placeholder='검색어를 입력해주세요.'
             value=''>
      <button type="submit" class="search-button">검색</button>
    </div>
    <!--            <input type='hidden' name='category' value='${param.category}'>-->
  </form>

  <img id="alarmIcon" class="alarm" data-th-if="${session.loginUser != null}"
       th:src="@{/images/alarm.png}"/>

  <!-- 헤더 알림 -->
  <div id="headerNotificationModal" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close" onclick="closeHeaderNotificationModal()">&times;</span>
      <h2>받은 알림</h2>
      <button id="deleteAllNotificationsButton" class="btn btn-danger">전체 삭제</button>
      <ul id="notificationList">
        <li th:each="notification : ${notifications}">
          <span th:text="${notification.content}"></span>
        </li>
      </ul>
    </div>
  </div>

  <a href="/member/form" data-th-if="${session.loginUser == null}">
    <button class="login-button" style="margin-left: 192px">로그인</button>
  </a>
  <a href="/member/join" data-th-if="${session.loginUser == null}">
    <button class="login-button">회원가입</button>
  </a>
  <div class="fix-container" data-th-if="${session.loginUser != null}">
    <div class="round-image">
      <a data-th-href="@{'/member/profile/' + ${session.loginUser.getId()}}">
        <img style="width: 50px; height: 50px;"
             data-th-if="${session.loginUser.getPhoto() == null}" th:src="@{/images/avatar.png}"></a>

      <a data-th-href="@{'/member/profile/' + ${session.loginUser.getId()}}">
        <img data-th-if="${session.loginUser.getPhoto() != null}"
             data-th-src="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-16/member/${session.loginUser.getPhoto()}|"></a>
    </div>
    <span style="margin-right: 40px" data-th-text="${session.loginUser.getNickName()}"></span>
    <a data-th-href="@{/post/form(category=${param.category})}">
      <button class="login-button">글쓰기</button>
    </a>
    <a href="/member/logout">
      <button class="login-button">로그아웃</button>
    </a>
  </div>
</div>
<!--헤더 끝-->

<!--본문 시작-->
<div class="centered-content">
  <form data-th-if="${post}" data-th-action="@{/post/update}" method='post'
        enctype='multipart/form-data' class="content-section">
    <table border='1'>
      <div style="border: 1px solid #594e4e; padding: 10px;">
        <div style="display: flex; align-items: center;">
          <div class="round-image">
            <a data-th-href="@{'/member/profile/' + ${post.member.id}}">
              <img style="width: 50px; height: 50px;" data-th-if="${post.member.photo == null}"
                   th:src="@{/images/avatar.png}"></a>
            <a data-th-href="@{'/member/profile/' + ${post.member.id}}">
              <img data-th-if="${post.member.photo != null}" style="width: 50px; height: 50px;"
                   data-th-src="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-16/member/${post.member.photo}|"></a>
          </div>
          <a data-th-href="@{'/member/profile/' + ${post.member.id}}"
             data-th-text="${post.member.nickName}">닉네임</a>
          <span style="margin-left: 10px;">
            <p data-th-text="${#dates.format(post.createdAt, 'yyyy-MM-dd')}">2023-09-14</p>
          </span>
          <button type="button" class="button followButton"
                  th:data-is-followed="${post.member.isFollowed}"
                  th:data-member-id="${post.member.id}">
            <img class="followImage"
                 th:src="${post.member.isFollowed} ? '/images/follow_on.png' : '/images/follow_off.png'"
                 th:id="${'followImage-' + post.member.id}">
          </button>
        </div>
      </div>
      <td>
        <input type='text' name='title' value="제목입니다." data-th-value="${post.title}">
      </td>
      <tr>
        <div class="square-box" style="text-align: center;">
          <div data-th-if="${post.attachedFiles != null && !post.attachedFiles.isEmpty()}">
            <img
                th:src="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-16/post/${post.attachedFiles[0].filePath}|">
          </div>
        </div>
      </tr>
      <tr>
      <tr>
        <td><textarea name='content' style='height:50px; width:400px;'
                      data-th-text="${post.content}"></textarea></td>
      </tr>

      <tr>
        <td>
          <button type="button" class="button likeButton" th:data-is-liked="${post.isLiked}"
                  th:data-post-id="${post.id}">
            <img class="likeImage"
                 th:src="${post.isLiked} ? '/images/like_on.png' : '/images/like_off.png'"
                 th:id="${'likeImage-' + post.id}">
          </button>
          <span class="likeCount" data-th-text="${post.likeCount}"
                th:data-post-id="${post.id}">0</span>
          <button type="button" class="button bookmarkButton"
                  th:data-is-bookmarked="${post.isBookmarked}" th:data-post-id="${post.id}">
            <img class="bookmarkImage"
                 th:src="${post.isBookmarked} ? '/images/bookmark_on.png' : '/images/bookmark_off.png'"
                 th:id="${'bookmarkImage-' + post.id}">
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>

<script>
  $(document).ready(function () {
    $(".likeButton").click(function () {
      var postId = $(this).data("post-id");
      var isLiked = $(this).data("is-liked");
      $.ajax({
        url: "/post/" + postId + "/like",
        type: "POST",
        success: function (response) {
          if (response.status === "notLoggedIn") {
            window.location.href = "/member/form";
            return;
          }
          var newCount = response.newLikeCount;
          var newIsLiked = response.newIsLiked;
          $(".likeCount[data-post-id='" + postId + "']").text(newCount);
          $(".likeButton[data-post-id='" + postId + "']").data("is-liked", newIsLiked);

          var newImageSrc = newIsLiked ? "/images/like_on.png" : "/images/like_off.png";
          $("#likeImage-" + postId).attr("src", newImageSrc);
        }
      });
    });

    $(".bookmarkButton").click(function () {
      var postId = $(this).data("post-id");
      var isBookmarked = $(this).data("is-bookmarked");
      $.ajax({
        url: "/post/" + postId + "/bookmark",
        type: "POST",
        success: function (response) {
          if (response.status === "notLoggedIn") {
            window.location.href = "/member/form";
            return;
          }
          var newIsBookmarked = response.newIsBookmarked;
          $(".bookmarkButton[data-post-id='" + postId + "']").data("is-bookmarked",
              newIsBookmarked);

          var newImageSrc = newIsBookmarked ? "/images/bookmark_on.png"
              : "/images/bookmark_off.png";
          $("#bookmarkImage-" + postId).attr("src", newImageSrc);
        }
      });
    });

    $(".followButton").on("click", function () {
      let memberId = $(this).data("member-id");
      let isFollowed = $(this).data("is-followed");

      $.ajax({
        url: "/member/" + memberId + "/follow",
        type: "POST",
        success: function (response) {
          if (response.newIsFollowed) {
            $("#followImage-" + memberId).attr("src", "/images/follow_on.png");
            $(".followButton[data-member-id='" + memberId + "']").data("is-followed", true);
          } else {
            $("#followImage-" + memberId).attr("src", "/images/follow_off.png");
            $(".followButton[data-member-id='" + memberId + "']").data("is-followed", false);
          }
        }
      });
    });

    function updateLikeStatus() {
      let postIds = $(".likeButton").map(function () {
        return $(this).data("post-id");
      }).get();

      if (postIds.length > 0) {
        $.ajax({
          url: "/post/getLikeStatus",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(postIds),
          success: function (response) {
            for (let postId in response) {
              let isLiked = response[postId].isLiked;
              let likeCount = response[postId].likeCount;

              let imageSrc = isLiked ? "/images/like_on.png" : "/images/like_off.png";
              $("#likeImage-" + postId).attr("src", imageSrc);
              $(".likeButton[data-post-id='" + postId + "']").data("is-liked", isLiked);
              $(".likeCount[data-post-id='" + postId + "']").text(likeCount);
            }
          }
        });
      }
    }

    function updateBookmarkStatus() {
      let postIds = $(".bookmarkButton").map(function () {
        return $(this).data("post-id");
      }).get();

      if (postIds.length > 0) {
        $.ajax({
          url: "/post/getBookmarkStatus",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(postIds),
          success: function (response) {
            for (let postId in response) {
              let isBookmarked = response[postId];
              let imageSrc = isBookmarked ? "/images/bookmark_on.png" : "/images/bookmark_off.png";
              $("#bookmarkImage-" + postId).attr("src", imageSrc);
              $(".bookmarkButton[data-post-id='" + postId + "']").data("is-bookmarked",
                  isBookmarked);
            }
          }
        });
      }
    }

    function updateFollowStatus() {
      let memberIds = $(".followButton").map(function () {
        return $(this).data("member-id");
      }).get();

      if (memberIds.length > 0) {
        $.ajax({
          url: "/member/getFollowStatus",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(memberIds),
          success: function (response) {
            for (let memberId in response) {
              let isFollowed = response[memberId];
              let imageSrc = isFollowed ? "/images/follow_on.png" : "/images/follow_off.png";
              $("#followImage-" + memberId).attr("src", imageSrc);
              $(".followButton[data-member-id='" + memberId + "']").data("is-followed", isFollowed);
            }
          }
        });
      }
    }

    updateLikeStatus();
    updateBookmarkStatus();
    updateFollowStatus();

    $(window).on("pageshow", function (event) {
      updateLikeStatus();
      updateBookmarkStatus();
      updateFollowStatus();
    });

  });

  // 알림 모달 열기
  function openHeaderNotificationModal() {
    document.getElementById('headerNotificationModal').style.display = 'block';
  }

  // 알림 모달 닫기
  function closeHeaderNotificationModal() {
    document.getElementById('headerNotificationModal').style.display = 'none';
  }

  // 페이지가 로드되면 저장된 알림을 불러옵니다.
  document.addEventListener('DOMContentLoaded', function () {
    loadHeaderNotifications();

    // "전체 삭제" 버튼에 이벤트 리스너를 추가합니다.
    const deleteAllNotificationsButton = document.getElementById('deleteAllNotificationsButton');
    if (deleteAllNotificationsButton) {
      deleteAllNotificationsButton.addEventListener('click', function () {
        fetch('/member/notifications/deleteAll', {
          method: 'POST',
        })
        .then(response => {
          if (!response.ok) {
            return Promise.reject('Error deleting notifications: ' + response.statusText);
          }
          // 성공적으로 삭제되었을 경우, UI에서도 알림을 제거합니다.
          const notiContainer = document.querySelector("#notificationList");
          while (notiContainer.firstChild) {
            notiContainer.removeChild(notiContainer.firstChild);
          }
        })
        .catch(error => {
          console.error(error);
        });
      });
    }
  });

  function loadHeaderNotifications() {
    fetch('/member/headerNotifications', {
      method: 'GET',
    })
    .then(response => {
      if (!response.ok) {
        return Promise.reject('Error loading notifications: ' + response.statusText);
      }
      return response.json();
    })
    .then(notifications => {
      const notiContainer = document.querySelector("#notificationList");
      notifications.forEach(notification => {
        const newNoti = document.createElement("li");
        newNoti.textContent = notification.content;
        notiContainer.appendChild(newNoti);
      });
    })
    .catch(error => {
      console.error(error);
    });
  }

  window.addEventListener('load', function () {
    const alarmIcon = document.getElementById('alarmIcon');
    if (!alarmIcon) {
      console.error('alarmIcon does not exist!');
      return;
    }

    alarmIcon.addEventListener('click', function () {
      openHeaderNotificationModal();
    });

    const eventSource = new EventSource('/member/notifications/stream');
    eventSource.addEventListener('alarm', function (event) {
      const data = JSON.parse(event.data);
      const notiContainer = document.querySelector("#notificationList");
      const newNoti = document.createElement("li");
      newNoti.textContent = data.content;
      if (notiContainer.firstChild) {
        notiContainer.insertBefore(newNoti, notiContainer.firstChild);
      } else {
        notiContainer.appendChild(newNoti);
      }
    });
    eventSource.onerror = function (event) {
      console.error('EventSource failed:', event);
      eventSource.close();
    };
  });

</script>
</body>
</html>
