<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>내가 좋아요한 글</title>
</head>
<body>

<h1>내가 좋아요한 글 목록</h1>

<table border="1">
  <thead>
  <tr>
    <th>작성자</th>
    <th>제목</th>
    <th>사진</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${likedPosts}">
    <td data-th-text="${post.member.nickName}">작성자명</td>
    <td th:text="${post.title}">제목</td>
    <td>
      <div th:each="file : ${post.attachedFiles}">
        <img th:src="${file.filePath}" alt="첨부된 사진" width="100">
      </div>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>
