<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>ShowPet 게시글</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rammetto+One%3A400"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee%3A400"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A700"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>

<div data-th-replace="header :: header"></div>
<span>
<h1>모아보기</h1>
<a data-th-href="@{/post/form(category=${param.category})}">글쓰기</a>
</span>
<div style='margin:5px;'>
    <a href='/post/list'>전체보기</a>
    <a href='/post/listDog'>강아지</a>
    <a href='/post/listCat'>고양이</a>
    <a href='/post/listBird'>새</a>
    <a href='/post/listEtc'>기타</a>
</div>

<div data-th-each="post : ${list}">
    <div style="border: 3px solid #dddddd; margin: 50px; padding: 10px;">
        <!--회원 프로필 사진 -->
        <div class="round-image">
            <a data-th-href="@{'/member/myPage/' + ${post.member.id}}">
                <img style="width: 50px; height: 50px;" data-th-if="${post.member.photo == null}"
                     th:src="@{/images/avatar.png}"></a>
            <a data-th-href="@{'/member/myPage/' + ${post.member.id}}">
                <img data-th-if="${post.member.photo != null}" style="width: 50px; height: 50px;"
                     data-th-src="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-16/member/${post.member.photo}|"></a>
        </div>
        <!--회원 닉네임-->
        <a data-th-href="@{'/member/myPage/' + ${post.member.id}}" data-th-text="${post.member.nickName}">닉네임</a>
        <!--게시글 제목-->
        <a data-th-href="@{'/post/detail/' + ${post.category} + '/' + ${post.id}}"
           data-th-text="${post.title} ?: '제목없음'">게시글 제목</a>
        <!--게시글 사진 -->
        <div data-th-each="file : ${post.attachedFiles}">
            <img th:src="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-16/post/${file.filePath}|">
        </div>
        <!-- 게시글 내용 -->
        <p data-th-text="${post.content}">내용</p>
        <!-- 해시태그-->
        <p data-th-text="${post.hashTag}">해시태그</p>
        <!-- 글쓴 날짜-->
        <p data-th-text="${#dates.format(post.createdAt, 'yyyy-MM-dd')}">2023-09-14</p>
        <!--좋아요 -->
        <p>
            <button class="likeButton" th:data-is-liked="${post.isLiked}" th:data-post-id="${post.id}">
                <!-- 이미지에 id 속성 추가 -->
                <img class="likeImage" th:src="${post.isLiked} ? '/images/like_on.png' : '/images/like_off.png'"
                     th:id="${'likeImage-' + post.id}">
            </button>
            <span class="likeCount" data-th-text="${post.likeCount}" th:data-post-id="${post.id}">0</span>
        </p>
    </div>
</div>
<script>
    // 내 게시물 보기 링크 클릭 이벤트 처리
    $(".round-image a").click(function (e) {
        e.preventDefault(); // 기본 링크 동작 방지

        // 클릭된 링크의 href 값을 가져와서 post/myPosts API 호출
        var memberId = $(this).attr("href").split("/")[3];  // "/member/myPage/" 다음의 문자열(사용자 ID)을 가져옴
        $.ajax({
            url: "/post/myPosts/" + id,  // 서버의 API 엔드포인트 변경 (가정: /post/userPosts/{userId} 형식으로 요청을 받는 엔드포인트가 있다.)
            type: "GET", // GET 요청
            success: function (response) {
                var myPosts = response;
                for (var i = 0; i < myPosts.length; i++) {
                    var post = myPosts[i];

                    // 각 게시글에 첨부된 파일들을 순회
                    for (var j = 0; j < post.attachedFiles.length; j++) {
                        var file = post.attachedFiles[j];

                        // 새로운 img 요소 생성
                        var imgElement = document.createElement("img");

                        // img 요소의 src 속성 설정
                        imgElement.src = "https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-16/post/" + file.filePath;

                        // 만든 img 요소를 body 태그 안에 추가
                        document.body.appendChild(imgElement);
                    }
                }
            },
            error: function (error) {
                console.error("Error fetching my posts:", error);
            }
        });
    });


        $(document).ready(function () {
        console.log("Document is ready!");
        $(".likeButton").click(function () {
            console.log("Button clicked!");
            var postId = $(this).data("post-id");
            var isLiked = $(this).data("is-liked");
            console.log("Post ID: " + postId);
            $.ajax({
                url: "/post/" + postId + "/like",
                type: "POST",
                success: function (response) {
                    if (response.status === "notLoggedIn") {
                        window.location.href = "/member/form";
                        return;
                    }
                    var newCount = response.newLikeCount;
                    var newIsLiked = response.newIsLiked;
                    $(".likeCount[data-post-id='" + postId + "']").text(newCount);
                    $(".likeButton[data-post-id='" + postId + "']").data("is-liked", newIsLiked);

                    var newImageSrc = newIsLiked ? "/images/like_on.png" : "/images/like_off.png";
                    $("#likeImage-" + postId).attr("src", newImageSrc);
                }
            });
        });
    });
</script>
</body>
</html>
