<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>ShowPet 게시글</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div data-th-replace="header :: header"></div>
<span>
<h1>모아보기</h1>
<a data-th-href="@{/post/form(category=${param.category})}">글쓰기</a>
</span>
<div style='margin:5px;'>
    <a href='/post/list'>전체보기</a>
    <a href='/post/listDog'>강아지</a>
    <a href='/post/listCat'>고양이</a>
    <a href='/post/listBird'>새</a>
    <a href='/post/listEtc'>기타</a>
</div>

<div data-th-each="post : ${list}">
    <div style="border: 3px solid #dddddd; margin: 50px; padding: 10px;">
        <a data-th-href="@{'/post/detail/' + ${post.category} + '/' + ${post.id}}"
           data-th-text="${post.title} ?: '제목없음'">게시글 제목</a>
        <p data-th-text="${post.member.nickName}"></p>
        <p data-th-text="${post.content}">테스트</p>
        <p data-th-text="${post.hashTag}">테스트</p>
        <p data-th-text="${#dates.format(post.createdAt, 'yyyy-MM-dd')}">2023-09-14</p>
        <p>
            <button class="likeButton" th:data-is-liked="${post.isLiked}" th:data-post-id="${post.id}">
                <!-- 이미지에 id 속성 추가 -->
                <img class="likeImage" th:src="${post.isLiked} ? '/images/like_on.png' : '/images/like_off.png'" th:id="${'likeImage-' + post.id}">
            </button>
            <span class="likeCount" data-th-text="${post.likeCount}" th:data-post-id="${post.id}">0</span>
        </p>
    </div>
</div>
<script>
    $(document).ready(function(){
        console.log("Document is ready!");
        $(".likeButton").click(function(){
            console.log("Button clicked!");
            var postId = $(this).data("post-id");
            var isLiked = $(this).data("is-liked");
            console.log("Post ID: " + postId);
            $.ajax({
                url: "/post/" + postId + "/like",
                type: "POST",
                success: function(response) {
                    if (response.status === "notLoggedIn") {
                        window.location.href = "/member/form";
                        return;
                    }
                    var newCount = response.newLikeCount;
                    var newIsLiked = response.newIsLiked;
                    $(".likeCount[data-post-id='" + postId + "']").text(newCount);
                    $(".likeButton[data-post-id='" + postId + "']").data("is-liked", newIsLiked);

                    var newImageSrc = newIsLiked ? "/images/like_on.png" : "/images/like_off.png";
                    $("#likeImage-" + postId).attr("src", newImageSrc);
                }
            });
        });
    });
</script>
</body>
</html>
