<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>ShowPet 게시글</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rammetto+One%3A400"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee%3A400"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A700"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>

<div data-th-replace="header :: header"></div>

<h1>모아보기 <a data-th-href="@{/post/form(category=${param.category})}">글쓰기</a></h1>
<div style='margin:5px;'>
    <a href='/post/list'>전체보기</a>
    <a href='/post/listDog'>강아지</a>
    <a href='/post/listCat'>고양이</a>
    <a href='/post/listBird'>새</a>
    <a href='/post/listEtc'>기타</a>
</div>
<div data-th-each="post : ${listDog}" th:if="${searchKeyword == null or #strings.containsIgnoreCase(post.title, searchKeyword)}">
    <div style="border: 3px solid #dddddd; margin: 50px; padding: 10px;">
        <a data-th-href="@{'/post/detail/' + ${post.category} + '/' + ${post.id}}"
           data-th-text="${post.title} ?: '제목없음'">게시글 제목</a>
        <p data-th-text="${post.member.nickName}"></p>
        <p data-th-text="${post.content}">테스트</p>
        <p data-th-text="${post.hashTag}">테스트</p>
        <p data-th-text="${#dates.format(post.createdAt, 'yyyy-MM-dd')}">2023-09-14</p>
    </div>
</div>

</body>
</html>