<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset='UTF-8'>
    <title>ShowPet 게시글</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rammetto+One%3A400"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee%3A400"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A700"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>

<div data-th-replace="header :: header"></div>
<span>
<h1>모아보기</h1>
<a data-th-href="@{/post/form(category=${param.category})}">글쓰기</a>
</span>
<div style='margin:5px;'>
  <a href='/post/list'>전체보기</a>
  <a href='/post/listDog'>강아지</a>
  <a href='/post/listCat'>고양이</a>
  <a href='/post/listBird'>새</a>
  <a href='/post/listEtc'>기타</a>
    <a href="/post/bookmarked"><img src="/images/bookmark_on.png">내 북마크</a>
    <a href="/post/liked"><img src="/images/like_on.png">내 좋아요</a>
    <a href="/member/followers"><img src="/images/follow_on.png">내가팔로우</a>
    <span th:text="${followerCount}"></span>
    <a href="/member/followings"><img src="/images/follow_off.png">나를팔로우</a>
    <span th:text="${followingsCount}"></span>
</div>

<!--th:if="${searchKeyword == null or post.title.contains(searchKeyword)}"-->
<div data-th-each="post : ${list}" th:if="${searchKeyword == null or #strings.containsIgnoreCase(post.title, searchKeyword)}">
    <div style="border: 3px solid #dddddd; margin: 50px; padding: 10px;">
        <!--회원 프로필 사진 -->
        <div class="round-image">
            <a data-th-href="@{'/member/myPage/' + ${post.member.id}}">
                <img style="width: 50px; height: 50px;" data-th-if="${post.member.photo == null}"
                     th:src="@{/images/avatar.png}"></a>
            <a data-th-href="@{'/member/myPage/' + ${post.member.id}}">
                <img data-th-if="${post.member.photo != null}" style="width: 50px; height: 50px;"
                     data-th-src="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-16/member/${post.member.photo}|"></a>
        </div>
        <!--회원 닉네임-->
        <a data-th-href="@{'/member/myPage/' + ${post.member.id}}" data-th-text="${post.member.nickName}">닉네임</a>
        <!--게시글 제목-->
        <a data-th-href="@{'/post/detail/' + ${post.category} + '/' + ${post.id}}"
           data-th-text="${post.title} ?: '제목없음'">게시글 제목</a>
        <!--게시글 사진 -->
        <div data-th-each="file : ${post.attachedFiles}">
            <img th:src="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-16/post/${file.filePath}|">
        </div>
        <!-- 게시글 내용 -->
        <p data-th-text="${post.content}">내용</p>
        <!-- 해시태그-->
        <p data-th-text="${post.hashTag}">해시태그</p>
        <!-- 글쓴 날짜-->
        <p data-th-text="${#dates.format(post.createdAt, 'yyyy-MM-dd')}">2023-09-14</p>
        <!--좋아요 -->
        <p>
            <button class="likeButton" th:data-is-liked="${post.isLiked}" th:data-post-id="${post.id}">
                <img class="likeImage"
                     th:src="${post.isLiked} ? '/images/like_on.png' : '/images/like_off.png'"
                     th:id="${'likeImage-' + post.id}">
            </button>
            <span class="likeCount" data-th-text="${post.likeCount}" th:data-post-id="${post.id}">0</span>
            <button class="bookmarkButton" th:data-is-bookmarked="${post.isBookmarked}"
                    th:data-post-id="${post.id}">
                <img class="bookmarkImage"
                     th:src="${post.isBookmarked} ? '/images/bookmark_on.png' : '/images/bookmark_off.png'"
                     th:id="${'bookmarkImage-' + post.id}">
            </button>
        </p>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".likeButton").click(function () {
            var postId = $(this).data("post-id");
            var isLiked = $(this).data("is-liked");
            $.ajax({
                url: "/post/" + postId + "/like",
                type: "POST",
                success: function (response) {
                    if (response.status === "notLoggedIn") {
                        window.location.href = "/member/form";
                        return;
                    }
                    var newCount = response.newLikeCount;
                    var newIsLiked = response.newIsLiked;
                    $(".likeCount[data-post-id='" + postId + "']").text(newCount);
                    $(".likeButton[data-post-id='" + postId + "']").data("is-liked", newIsLiked);

                    var newImageSrc = newIsLiked ? "/images/like_on.png" : "/images/like_off.png";
                    $("#likeImage-" + postId).attr("src", newImageSrc);
                }
            });
        });

        $(".bookmarkButton").click(function () {
            var postId = $(this).data("post-id");
            var isBookmarked = $(this).data("is-bookmarked");
            $.ajax({
                url: "/post/" + postId + "/bookmark",
                type: "POST",
                success: function (response) {
                    if (response.status === "notLoggedIn") {
                        window.location.href = "/member/form";
                        return;
                    }
                    var newIsBookmarked = response.newIsBookmarked;
                    $(".bookmarkButton[data-post-id='" + postId + "']").data("is-bookmarked",
                        newIsBookmarked);

                    var newImageSrc = newIsBookmarked ? "/images/bookmark_on.png"
                        : "/images/bookmark_off.png";
                    $("#bookmarkImage-" + postId).attr("src", newImageSrc);
                }
            });
        });

        function updateLikeStatus() {
            let postIds = $(".likeButton").map(function () {
                return $(this).data("post-id");
            }).get();

            if (postIds.length > 0) {
                $.ajax({
                    url: "/post/getLikeStatus",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(postIds),
                    success: function (response) {
                        for (let postId in response) {
                            let isLiked = response[postId].isLiked;
                            let likeCount = response[postId].likeCount;

                            let imageSrc = isLiked ? "/images/like_on.png" : "/images/like_off.png";
                            $("#likeImage-" + postId).attr("src", imageSrc);
                            $(".likeButton[data-post-id='" + postId + "']").data("is-liked", isLiked);
                            $(".likeCount[data-post-id='" + postId + "']").text(likeCount);
                        }
                    }
                });
            }
        }

        function updateBookmarkStatus() {
            let postIds = $(".bookmarkButton").map(function () {
                return $(this).data("post-id");
            }).get();

            if (postIds.length > 0) {
                $.ajax({
                    url: "/post/getBookmarkStatus",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(postIds),
                    success: function (response) {
                        for (let postId in response) {
                            let isBookmarked = response[postId];
                            let imageSrc = isBookmarked ? "/images/bookmark_on.png" : "/images/bookmark_off.png";
                            $("#bookmarkImage-" + postId).attr("src", imageSrc);
                            $(".bookmarkButton[data-post-id='" + postId + "']").data("is-bookmarked",
                                isBookmarked);
                        }
                    }
                });
            }
        }

        updateLikeStatus();
        updateBookmarkStatus();
        $(window).on("pageshow", function (event) {
            updateLikeStatus();
            updateBookmarkStatus();
        });
    });
</script>
</body>
</html>
