<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>ShowPet</title>
</head>
<body>

<h1>회원</h1>
<form action='add' method='post'>
    <table border='1'>
        <tr>
            <th>이메일</th> <td style='width:200px;'><input type='email' name='email'></td>
        </tr>
        <tr>
            <th>암호</th> <td><input type='password' name='password'></td>
        </tr>
        <tr>
            <th>닉네임</th> <td><input type='nickname' name='nickName'></td>
        </tr>
        <tr>
            <th>Pet</th>
            <td>
                <select name='category'>
                    <option value='2'>강아지</option>
                    <option value='3'>고양이</option>
                    <option value='4'>새</option>
                    <option value='1'>기타</option>
                </select>
            </td>
        </tr>
    </table>
    <button>등록</button>
</form>

</body>
</html>
