<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>마이페이지</title>
</head>
<body>

<div class="myPage">
    <div class="round-image">
        <a data-th-href="@{'/member/detail/' + ${member.id}}">
            <img style="width: 50px; height: 50px;" data-th-if="${member.photo == null}"
                 th:src="@{/images/avatar.png}"></a>
        <a data-th-href="@{'/member/detail/' + ${member.id}}">
            <img data-th-if="${member.photo != null}" style="width: 50px; height: 50px;"
                 data-th-src="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-16/member/${member.photo}|"></a>
        <a th:href="@{'/member/detail/' + ${member.id}}" th:text="${member.nickName}"/>
    </div>

    <!-- 현재 로그인한 사용자가 자신의 프로필을 보고 있을 때만 표시 -->
    <a data-th-if="${session.loginUser.id == member.id}" th:href="@{'/member/detail/' + ${member.id}}">프로필 수정</a>

    <!--소개글-->
    <div>
        <p th:text="${member.intro}">intro</p>
    </div>
    <!--팔로잉 / 팔로워 -->


    <!-- 각 게시글의 썸네일을 표시합니다 -->
    <div class="post" style="display:flex; flex-wrap:wrap;">
        <div data-th-each="post : ${list}" style="flex-basis:33%;">
            <!-- 클릭하면 해당 게시글의 상세 페이지로 이동합니다 -->
            <div data-th-each="file : ${post.attachedFiles}">
                <a th:href="@{'/post/detail/' + ${post.category} + '/' + ${post.id}}">
                    <img th:src="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-16/post/${file.filePath}|">
                </a>
            </div>
        </div>
    </div>



</div>

<a href="/">메인으로</a>

<!-- 필요한 JavaScript 파일 -->
<script>

</script>

</body>